<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <div class="wrapper">
        <div class="main">
          <form action="get-quotes" method="post">
            <div>
              <label>Выберите тип услуги:</label>
              <select name="command">
                <option selected disabled>Не выбран</option>
                <option value="bash">Цитаты с Bash.im</option>
                <option value="trans">Перевод с Яндекс.Переводчика</option>
              </select>
            </div>
            <div id="trans-params">
              <label>Выберите тип услуги:</label>
              <input type="text">
            </div>
          </form>
        </div>
      </div>
  </body>
</html>
