<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <script>
      const postJson = (url, data) => {
        return new Promise((resolve, reject) => {
          const xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function(){
            if(xhr.readyState === XMLHttpRequest.DONE) {
              if (xhr.status === 200) {
                resolve(JSON.parse(xhr.responseText));
              }
              reject(xhr.status);
            }
          };
          xhr.open('POST', url, true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.send(JSON.stringify(data));
        });
      }

      document.addEventListener('DOMContentLoaded', e => {
        const form = document.querySelector('form');
        const commandSelector = form.querySelector('#command-selector > select');

        let paramsBlock;
        const updateParameters = () => {
          const paramsContainer = document.getElementById('params-container');
          Array.from(paramsContainer.children).forEach(el => {
            if(el.id === `params-${commandSelector.value}`) {
              el.classList.remove('hidden');
              paramsBlock = el;
            }
            else {
              el.classList.add('hidden');
            }
          });
        };
        commandSelector.addEventListener('change', e => updateParameters());
        updateParameters();

        const sumbitButton = form.querySelector('input[type=submit]');
        sumbitButton.addEventListener('click', e => {
          e.preventDefault(); 
          const command = commandSelector.value;
          const params = {};
          if(paramsBlock) {
            Array.from(paramsBlock.querySelectorAll('input')).forEach(input => {
              params[input.name] = input.value;
            });
          }
          postJson(form.action, {
              command,
              params
            })
            .then(result => {
              const resultsContainer = document.getElementById('results');
              resultsContainer.innerHTML = '';
              if(command === 'bash') {
                result.quotes.forEach(quote => {
                  var div = document.createElement('div');
                  div.className = 'quote';
                  div.innerHTML = `<p>${quote.quoteDate}</p><p>${quote.quoteText}</p>`;
                  resultsContainer.appendChild(div);
                });
                resultsContainer.classList.remove('hidden');
              }
              if (command === 'trans') {
                result.translation.variants.forEach((variant, i) => {
                  var div = document.createElement('div');
                  div.className = 'variant';
                  div.innerHTML = `<p>${i+1}. ${variant}</p>`;
                  resultsContainer.appendChild(div);
                });
                resultsContainer.classList.remove('hidden');
              }
            });
        });
      });
    </script>
  </head>
  <body>
      <div class="wrapper">
        <div class="main">
          <form action="run-command" method="post">
            <div id='command-selector'>
              <label>Выберите тип услуги: ({{cookie}})</label>
              <select name="command">
                <option {{#if isDefault}} "selected" {{/if}} disabled>Не выбран</option>
                <option value="bash" {{#if isBash}} "selected" {{/if}}>Цитаты с Bash.im</option>
                <option value="trans" {{#if isTrans}} "selected" {{/if}}>Перевод с Яндекс.Переводчика</option>
              </select>
            </div>
            <div id="params-container">
              <div id="params-bash" class="hidden">
                <label>Количество цитат:</label>
                <input type="number" name="count" value="1" min="1" max="10">
              </div>
              <div id="params-trans" class="hidden">
                <label>Текст для перевода:</label>
                <input type="text" name="text">
              </div>
            </div>
            <input type="submit" value="Отправить">
            <div id="results" class="results hidden"></div>
          </form>
        </div>
      </div>
  </body>
</html>
