<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <div class="wrapper">
        <div class="main">
          <h1>Hello world</h1>
          <p>Time: {{time}}</p>
        </div>
      </div>
  </body>
</html>
